.App {
    text-align: center;
}

@keyframes roll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.roll-container {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.roll-content {
    display: inline-block;
    animation: roll 20s linear infinite;
}
