.roll-container {
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.roll-content {
    display: flex;
    animation: roll 20s linear infinite;
}

.roll-content img {
    width: auto;
    height: 100%;
    margin-right: 10px;
}

@keyframes roll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
