.roll-container {
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.roll-content {
    display: flex;
    animation: roll 60s linear infinite;
}

.roll-content img {
    width: 100%;
    height: auto;
    margin-right: 10px;
}

.disruption-button:hover {
    background-color: red !important;
}

.maintenance-button:hover {
    background-color: yellow !important;
}

@keyframes roll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
